# Build outputs
target
build
dist
out

# Dependencies
node_modules

# Why would I lint these?
*.md
LICENSE

# Image files
*.png
*.svg
*.gif
*.jpg
*.jpeg
*.jfif

# Lock files
*.lock
pnpm-lock.yaml
package-lock.json

# Git
.git

# Rust
*.rs
