$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import "@fontsource/ubuntu/index.css";
@import "@fontsource/ubuntu-mono/index.css";

@font-face {
    font-family: "manteka";
    src: url("../assets/manteka.otf");
}
