:root {
    --base-color: #171717;
    --secondary-color: #222222;
    --secondary-highlight-color: #2e2e2e;
    --secondary-selected-color: #3b3b3b;

    --fg-color: #dcdcec;
    --fg-color-light: #aeaebe;
}
