.dropdown {
    width: 40%;
    margin-left: 1.5%;

    justify-self: start;
    position: relative;

    border: 1px solid #4c4c4a;
    border-radius: 8px;

    &.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .selected {
        border-radius: 8px;
        background-color: transparent;

        &:after {
            position: absolute;
            content: "";
            top: 14px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #fff transparent transparent transparent;
        }

        &.active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .arrow-active:after {
            border-color: transparent transparent #fff transparent;
            top: 7px;
        }
    }

    .items div,
    .selected {
        color: #fff;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
    }

    .items {
        position: absolute;
        background-color: #1f2120;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;

        border: 1px solid #4c4c4a;

        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .hide {
        display: none;
    }

    .items div:hover,
    .same {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
