.mod-tile {
    width: 96%;
    height: 90%;

    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2%;
    border-radius: 4px;

    transition: background-color 0.5s ease;
    cursor: pointer;

    &:hover {
        background-color: #3f4140;
    }

    .image {
        margin-top: 2%;
        width: 96%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 96%;
        padding: 0 2%;

        .action {
            border: none;
            background-color: transparent;

            .icon {
                color: #90ee90;
                font-size: 14pt;
                cursor: pointer;

                transition: color 0.5s ease;

                &:hover {
                    color: #50ae50;
                }
            }
        }
    }
}
