.searchbar {
    width: 100%;
    height: 100%;

    input {
        width: 100%;
        height: 100%;

        border: none;
        font-family: "manteka", serif;
        text-align: center;
        background-color: transparent;
        color: #ffffff;
        outline: none;
    }
}
