@import "@fontsource/ubuntu/index.css";
@import "@fontsource/ubuntu-mono/index.css";

@font-face {
    font-family: "manteka";
    src: url("assets/manteka.otf");
}

::-webkit-scrollbar {
    width: 8px;
    margin: 0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #4c4c4c;
    border-radius: 5px;
}

html,
body,
#root,
.app-container {
    width: 100%;
    height: 100%;

    color: white;
    font-family: "manteka", serif;

    margin: 0;
    padding: 0;
}

.app-container {
    .main {
        width: 100%;
        height: 100%;

        position: fixed;
        margin-top: calc(2rem + 2%);
    }
}
