.install-progress-container {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background-image: linear-gradient(to bottom, #7c7c7c, #fff);

    .logo {
        width: 75%;

        margin: 4% 12.5%;
        border-radius: 8px;
    }

    .title {
        width: 100%;

        text-align: center;
    }

    .progress {
        width: 100%;
        margin: 4% 0;
        text-align: center;
    }

    .action {
        border: none;
        border-radius: 4px;
        background-color: #bcbfbc;

        font-family: "manteka";

        width: 10%;
        padding: 1.5% 0;
        margin-left: 45%;

        cursor: pointer;
        outline: none;
        transition: color 0.5s ease, background-color 0.5s ease;

        &:hover {
            color: #dddfdc;
            background-color: #3a3c3f;
        }
    }
}
