.instances-container {
    width: 100%;
    height: calc(100% - (2rem + 2.6%));

    background-color: #1f2120;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 18.5% 18.5% 18.5% 18.5% 18.5%;
    grid-column-gap: 1.5%;
    grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
}
